<div class="image-container">

    <img class="img" src="<%= product.imageURL %> " alt="image">

</div>

<h1 class="product-title">
    <%= product.title %> 
</h1>

<div <% if (locals.isAdmin){%> class="product-btns" <%} else {%> style="text-align: center;"<%}%>>

    <% if (locals.isAdmin){%>

<a href="/admin/product/<%= product._id %>/update" class="product-btn">View and Edit</a>
<button class="product-btn" data-pid="<%= product._id %>">Delete</button>

<%} else {%>

    <a href="/product/<%= product._id %>/details" class="product-btn">View Details</a>

<%}%>

</div>
